/**
 * Content Styles
 */
.content {
  padding: 50px 0;

  .content__sidebar {

  }

  .content__main-content {

  }

  .page-title {
    margin-top: 0;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}