/**
 * General
 */

html,
body {
  color: $c-body;
  background: $c-site-bg;
}

a {
  color: $c-link;
  text-decoration: none;
}
a:hover {
  color: $c-link-hover;
  text-decoration: none;
}

/**
 * Site Structure
 */

.site-wrapper {
  clear: both;
  position: relative;
}

/**
 * Site Header
 */

.site-header {
  background: #333;
  padding-top: 20px;
  padding-bottom: 20px;
}
.site-logo {
  float: left;
  margin: 0;
  padding: 0;

  img {
    display: block;
    width: 80px;
    height: 89px;
  }
}

/**
 * Site Footer
 */

.site-footer {
  background: #333;

  .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

/* -- Footer Copyright -- */

.site-footer-copyright {
  clear: both;
  font-size: 10px;
}

/**
 * Site Search
 */

.site-search {
  float: right;
  margin: 0;
  padding: 0;
}

/**
 * Site Body
 */

#site-body {
  clear: both;

  > .container {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

