/**
 * General
 */

html,
body {
  color: $c-body;
  background: $c-site-bg;
}

a {
  color: $c-link;
  text-decoration: none;
}
a:hover {
  color: $c-link-hover;
  text-decoration: none;
}

/**
 * Site Structure
 */

.site-wrapper {
  clear: both;
  position: relative;
}



/**
 * Site Search
 */

.site-search {
  float: right;
  margin: 0;
  padding: 0;
}

/**
 * Site Body
 */

.content {
  clear: both;

  > .container {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

