/**
 * Header Styles
 */

.header {
  background: #333;

  //Top
  .header__top {

    //Logo
    .header__top-logo {
      float: left;
      margin: 15px 0;
      padding: 0;

      img {
        display: block;
        width: 80px;
        height: 89px;
      }
    }

    //Top Navigation
    .header__top-navigation {
      float: right;
    }
  }

  //Bottom
  .header__bottom {
    background-color: $gray-darker;

    .header__bottom-navigation, .header__bottom-search {
      display: inline-block;
    }

    .header__bottom-navigation {
      .menu__dropdown {
        background-color: $gray-darker;
      }
    }

    .header__bottom-search {
      float: right;
      margin: 13px 0;
    }
  }
}


