/**
 * Header Styles
 */

.header {
  background: #333;

  //Logo
  .header__logo {
    float: left;
    margin: 0;
    padding: 0;

    img {
      display: block;
      width: 80px;
      height: 89px;
    }
  }

  //Top Navigation
  .header__top-navigation {
    float: right;
  }
}


