/**
 * Live CSS
 */

.live-css-section {
  clear: both;
  margin: 0 0 60px 0;
  padding: 0;
}

h1.h-live-css-section {
  margin: 0 0 30px 0;
  padding: 0 0 7px 0;
  border-bottom: 1px solid #dcdcdc;
}

.live-css-nav.affix {
  position: fixed;
  top: 20px;
}

.live-css-nav {

  .nav .nav {
    display: none;
  }
  .nav .active .nav {
    display: block;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0 0 6px 0;
      padding: 0;
      background: none;

      ul {
        margin: 0 0 0 10px;

        li {
          margin: 0;
          padding: 0;
          font-size: 13px;
        }
      }
    }
    a {
      color: #666;
      text-decoration: none;

      &:hover {
        color: #ff9900;
        text-decoration: none;
      }
    }
    .active > a {
      color: #ff9900;
    }
  }

}

.live-css-variables {

  ul {
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;

    li {
      float: left;
      margin: 0 10px 10px 0;
      padding: 0;
      width: 100px;
      text-align: center;

      i {
        display: block;
        margin: 0 0 5px 0;
        padding: 0;
        height: 100px;
      }
      strong {
        display: block;
      }
    }
    .live-css-v-primary i { background-color: $c-primary; }
    .live-css-v-secondary i { background-color: $c-secondary; }
    .live-css-v-tertiary i { background-color: $c-tertiary; }

    .live-css-v-accent-1 i { background-color: $c-accent-1; }
    .live-css-v-accent-2 i { background-color: $c-accent-2; }
    .live-css-v-accent-3 i { background-color: $c-accent-3; }

    .live-css-v-body i { background-color: $c-body; }

    .live-css-v-gray-base i { background-color: $gray-base; }
    .live-css-v-gray-darker i { background-color: $gray-darker; }
    .live-css-v-gray-dark i { background-color: $gray-dark; }
    .live-css-v-gray i { background-color: $gray; }
    .live-css-v-gray-light i { background-color: $gray-light; }
    .live-css-v-gray-lighter i { background-color: $gray-lighter; }
  }
}

.live-css-v-f-primary span { font-family: $f-primary; }
.live-css-v-f-secondary span { font-family: $f-secondary; }
.live-css-v-f-body span { font-family: $f-body; }


.live-css-icons {

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      float: left;
      margin: 0 2px 2px 0;
      padding: 16px 8px;
      width: 81px;
      min-height: 117px;
      font-size: 11px;
      text-align: center;
      background: #f7f7f7;
    }
    i {
      display: inline-block;
      margin: 0 0 5px 0;
      background-repeat: no-repeat;
      vertical-align: top;
    }
    div {
      word-wrap: break-word;
    }
  }
}
.live-css-icons__icon {
  min-height: 50px;
}

.ico-live-chat-bubble {
  width: 30px;
  height: 23px;
  background-image: url(../gfx/icons/live_chat_bubble.svg);
  background-size: 30px 23px;
}
.ico-search {
  width: 18px;
  height: 18px;
  background-image: url(../gfx/icons/search_submit.svg);
  background-size: 18px 18px;
}
.ico-social-facebook {
  width: 28px;
  height: 28px;
  background-image: url(../gfx/icons/facebook.svg);
  background-size: 28px 28px;
}
.ico-social-google {
  width: 28px;
  height: 28px;
  background-image: url(../gfx/icons/google.svg);
  background-size: 28px 28px;
}
.ico-social-twitter {
  width: 28px;
  height: 28px;
  background-image: url(../gfx/icons/twitter.svg);
  background-size: 28px 28px;
}
.ico-social-instagram {
  width: 28px;
  height: 28px;
  background-image: url(../gfx/icons/instagram.svg);
  background-size: 28px 28px;
}
.ico-social-youtube {
  width: 28px;
  height: 28px;
  background-image: url(../gfx/icons/youtube.svg);
  background-size: 28px 28px;
}
.ico-social-pinterest {
  width: 28px;
  height: 28px;
  background-image: url(../gfx/icons/pinterest.svg);
  background-size: 28px 28px;
}
.ico-social-linkedin {
  width: 28px;
  height: 28px;
  background-image: url(../gfx/icons/linkedin.svg);
  background-size: 28px 28px;
}
.ico-comment-bubble {
  width: 42px;
  height: 38px;
  background-image: url(../gfx/icons/comment_bubble.svg);
  background-size: 42px 38px;
}
.ico-comment-reply {
  width: 16px;
  height: 15px;
  background-image: url(../gfx/icons/comment_reply.svg);
  background-size: 16px 15px;
}
