/**
 * General
 */

html,
body {
  color: $c-body;
  background: #efefef;
}

a {
  color: $c-secondary;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: none;
}

p {
  margin: 0 0 28px 0;
  padding: 0;
}

h1 {
  margin: 0 0 28px 0;
  padding: 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  color: $c-secondary;
}
h2 {
  margin: 0 0 24px 0;
  padding: 0;
  font-size: 26px;
  line-height: 26px;
  font-weight: bold;
  color: $c-primary;
}
h3 {
  margin: 0 0 15px 0;
  padding: 0;
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
  color: $c-secondary;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0;
    background: none;
  }
}

.field--name-body {
  ul {
    margin: 0 0 28px 20px;
    padding: 0;
    list-style: none;

    li {
      margin: 0 0 2px 0;
      padding: 0 0 0 11px;
      background: url(../gfx/bullet.svg) 0 8px no-repeat;
      background-size: 5px 5px;
    }
  }

  ol {
    margin: 0 0 28px 37px;
    padding: 0;
    list-style: decimal;

    li {
      margin: 0 0 2px 0;
      padding: 0;
    }
  }
}

a.b-cta {
  display: inline-block;
  margin: 0;
  padding: 5px 15px;
  color: #fff;
  text-decoration: none;
  background: $c-primary;
  @include border-radius(5px);

  &:hover {
    color: #fff;
    text-decoration: none;
    background: $c-secondary;
  }
}

a.b-cta-secondary {
  display: inline-block;
  margin: 0;
  padding: 5px 15px;
  color: #000;
  text-decoration: none;
  background: $c-secondary;
  @include border-radius(5px);

  &:hover {
    color: #fff;
    text-decoration: none;
    background: $c-primary;
  }
}

table {
  margin: 0 0 30px 0;
  padding: 0;
  width: 100%;
  height: auto;
  border: none;
  border-collapse: collapse;

  thead {
    border: none;
  }
  tbody {
    border: none;
  }
  tr {
    margin: 0;
    padding: 0;
  }
  th {
    margin: 0;
    padding: 18px 21px;
    color: #fff;
    background: #f08f00;
    border-left: 1px solid #f08f00;
    border-right: 1px solid #f08f00;
  }
  th:nth-child(even) {
    background: #fe9900;
    border-color: #fe9900;
  }
  td {
    margin: 0;
    padding: 18px 21px;
    color: #686868;
    background: #efefef;
    border-top: none;
    border-left: 1px solid #b6b6b6;
    border-right: 1px solid #b6b6b6;
    border-bottom: 1px solid #b6b6b6;
  }
  td:nth-child(even) {
    background: #fff;
  }
}

.b-back-cont {
  clear: both;
  margin: 0 0 20px 0;
  padding: 0;
}
.b-back {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: $c-primary;
  font-weight: bold;
  text-decoration: none;
  vertical-align: top;
  background: url(../gfx/b_back_left_side.png) 0 0 no-repeat;

  span {
    display: block;
    margin: 0 0 0 15px;
    padding: 5px 13px 0 7px;
    height: 30px;
    cursor: pointer;
    border-top: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    @include linearGradient(#fefefe, #e6e6e6);
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
  }

  &:hover {
    color: $c-secondary;
    text-decoration: none;
  }
}

/**
 * Site Structure
 */

#site-wrapper {
  clear: both;
}

#site-container {
  background: #fff;
}

/**
 * Site Header
 */

#site-header-top {

}

.site-header-nav {
  float: right;
  margin: 0 5px 0 0;

  ul.menu {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: top;

    li {
      position: relative;
      display: inline-block;
      margin: 0 15px 0 0;
      padding: 5px;
      vertical-align: top;

      ul {
        display: none;
      }
    }
    li:last-child {
      margin-right: 0;
    }

    a {
      font-size: 16px;
      color: $c-primary;
      text-decoration: none;

      &:hover {
        color: $c-acro-orange;
        text-decoration: none;
      }
    }
  }
}

.site-header-user-nav {
  float: right;
  margin: 0;
  padding: 5px 10px;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background: #fefefe;
  @include border-bottom-radius(5px);

  ul.menu {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: top;

    li {
      position: relative;
      display: inline-block;
      margin: 0;
      padding: 0 8px;
      vertical-align: top;

      i {
        position: absolute;
        bottom: 1px;
        right: -2px;
        width: 1px;
        height: 14px;
        background: #ccc;
        z-index: 1;
      }
    }
    li:last-child i {
      display: none;
    }
  }

  li.li-shopping-cart span.cart-quantity {
    display: inline-block;
    margin: 0 0 0 5px;
    padding: 2px 7px;
    min-width: 45px;
    color: #fff;
    text-align: center;
    background: #333;
    vertical-align: top;
    @include transition(background-color 0.15s linear);
    @include border-radius(5px);
  }
  li.li-shopping-cart span.mobile-label { display: none; }

  a {
    font-size: 14px;
    color: $c-body;
    text-decoration: none;
    vertical-align: sub;

    &:hover {
      color: $c-acro-orange;
      text-decoration: none;

      span.cart-quantity {
        background: #4f4f4f;
      }
    }
  }

}

.site-logo {
  float: left;
  position: relative;
  margin: 0;
  padding: 18px 0 0 92px;
  max-width: 330px;
  min-height: 90px;

  a {
    display: block;

    &:hover {
      text-decoration: none;
    }
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 80px;
    height: 90px;
  }
}
.site-logo__title {
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: $c-acro-orange;
  text-transform: uppercase;
}
.site-logo__subtitle {
  display: block;
  font-size: 18px;
  letter-spacing: 15px;
  color: #999;
  text-transform: uppercase;
}

.site-header-contact-container {
  float: right;
  margin: 0;
  padding: 34px 0 0 0;

  .cta-contact-us {
    float: left;
    text-align: right;
  }
  .site-live-chat {
    float: left;
  }
}

.contact-separator {
  float: left;
  margin: 2px 20px 0 20px;
  padding: 0;
  width: 1px;
  height: 45px;
  background: #dbdbdb;
}

.cta-contact-us {

  a {
    display: block;
    font-size: 20px;
    line-height: 20px;
    color: $c-primary;
    text-decoration: none;
    cursor: pointer;

    span {
      display: block;
      font-size: 32px;
      line-height: 32px;
      color: $c-secondary;
      text-decoration: none;
      cursor: pointer;
      @include transition(color 0.15s linear);
    }

    &:hover span {
      color: #d88200;
    }
  }
}

.site-live-chat {

  a {
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 20px;
    color: $c-primary;
    text-decoration: none;
    cursor: pointer;

    i {
      position: absolute;
      top: -2px;
      right: 0;
      display: inline-block;
      margin: 0;
      padding: 0;
      width: 30px;
      height: 23px;
      background: url(../gfx/icons/live_chat_bubble.svg) 0 0 no-repeat;
      background-size: 30px 23px;
      vertical-align: top;
    }

    span {
      display: block;
      font-size: 32px;
      line-height: 32px;
      color: $c-secondary;
      text-decoration: none;
      cursor: pointer;
      @include transition(color 0.15s linear);
    }

    &:hover span {
      color: #d88200;
    }
  }
}

/* -- Primary Navigation -- */

.site-pri-nav-container {
  clear: both;
  margin: 30px 0 0 0;
  padding: 13px 0 10px 0;
  border-top: 1px solid #dcdcdc;
}
.path-frontpage .site-pri-nav-container {
  margin-bottom: 0;
  border-bottom: 0;
}

.site-pri-nav {
  float: left;

  ul.menu {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: top;

    li {
      display: inline-block;
      margin: 0 25px 0 0;
      padding: 5px;
      font-size: 18px;
      text-transform: uppercase;
      vertical-align: top;

      &:last-child {
        margin-right: 0;
      }

      /* -- Dropdowns -- */
      ul {
        display: none;
      }
    }

    a {
      color: #000;
      text-decoration: none;

      &:hover {
        color: $c-acro-orange;
      }
    }
    .menu-item--active-trail a {
      color: $c-acro-orange;
    }
  }
}

/* -- Mobile Navigation -- */

#site-outter-wrapper {
  position: relative
}

.site-mobile-nav {
  display: none;
  float: right;
  margin: 0;
  padding: 5px 0 0 0;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      float: left;
      margin: 0 11px 0 0;
      padding: 0;
      list-style: none;

      &:last-child {
        margin-right: 0;
      }
    }
    a {
      font-size: 33px;
      color: $c-primary;
      text-decoration: none;
      outline: none;

      &:hover {
        color: $c-secondary;
      }
      &.active {
        color: #ccc;
      }
    }
    #li-mobile-search-toggle a {
      font-size: 30px;
    }
  }
}

#mobile-search-cont {
  display: none;
}
.mobile-search {
  margin: 0 0 0 0;
  padding: 20px 0;
  border-top: 1px solid #dcdcdc;
}
.mobile-search-active {
  border-color: #dcdcdc;
}
.mobile-search .site-search-cont input.form-search {
  max-width: none;
  width: 187px;
}

#mobile-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
  z-index: 100;
  @include transition(opacity 0.15s linear);
}
.sidr-open #mobile-overlay {
  display: block;
}

.sidr {
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 243px;
  overflow-x: none;
  overflow-y: auto;
  font-size: 15px;
  background: #333;
  color: #fff;
  -webkit-box-shadow: inset 0 0 5px 5px #222;
  -moz-box-shadow: inset 0 0 5px 5px #222;
  box-shadow: inset 0 0 5px 5px #222
}
.sidr .sidr-inner {
  padding: 0 0 15px
}
.sidr .sidr-inner>p {
  margin-left: 15px;
  margin-right: 15px
}
.sidr.right {
  left: auto;
  right: -260px
}
.sidr.left {
  left: -260px;
  right: auto
}
.sidr h1,
.sidr h2,
.sidr h3,
.sidr h4,
.sidr h5,
.sidr h6 {
  font-size: 11px;
  font-weight: normal;
  padding: 0 15px;
  margin: 0 0 5px;
  color: #fff;
  line-height: 24px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d4d4d), color-stop(100%, #1a1a1a));
  background-image: -webkit-linear-gradient(#4d4d4d, #1a1a1a);
  background-image: -moz-linear-gradient(#4d4d4d, #1a1a1a);
  background-image: -o-linear-gradient(#4d4d4d, #1a1a1a);
  background-image: linear-gradient(#4d4d4d, #1a1a1a);
  -webkit-box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2)
}
.sidr p {
  font-size: 13px;
  margin: 0 0 12px
}
.sidr p a {
  color: rgba(255, 255, 255, 0.9)
}
.sidr>p {
  margin-left: 15px;
  margin-right: 15px
}
.sidr ul {
  display: block;
  margin: 0 0 15px;
  padding: 0;
}
.sidr ul li {
  display: block;
  margin: 0;
}
.sidr form {
  margin: 0 15px
}
.sidr label {
  font-size: 13px
}
.sidr input[type="text"],
.sidr input[type="password"],
.sidr input[type="date"],
.sidr input[type="datetime"],
.sidr input[type="email"],
.sidr input[type="number"],
.sidr input[type="search"],
.sidr input[type="tel"],
.sidr input[type="time"],
.sidr input[type="url"],
.sidr textarea,
.sidr select {
  width: 100%;
  font-size: 13px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.6);
  display: block;
  clear: both
}
.sidr input[type=checkbox] {
  width: auto;
  display: inline;
  clear: none
}
.sidr input[type=button],
.sidr input[type=submit] {
  color: #333;
  background: #fff
}
.sidr input[type=button]:hover,
.sidr input[type=submit]:hover {
  background: rgba(255, 255, 255, 0.9)
}








.sidr {
  background: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    background: none;

    li {
      position: relative;
      float: none;
      display: block;
      margin: 0 0 12px 0;
      padding: 0 0 4px 0;
      line-height: 18px;
      border: none;
      border-bottom: 1px solid #efede9;
      background: none;

      /* -- 2nd Level -- */
      ul {
        margin: 0 0 0 10px;

        li {
          margin: 0;

          &:last-child {
            border: none;
          }
        }
        a {
          padding: 4px 0 0 0;
          font-size: 12px;
        }
      }
    }
    a {
      display: block;
      margin: 0;
      padding: 4px 0;
      font-size: 15px;
      line-height: 18px;
      color: $c-primary;
      font-weight: bold;
      text-decoration: none;

      &:hover,
      &.active-trail,
      &.active {
        color: $c-secondary;
        text-decoration: none;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
  }
}




.mobile-nav {
  position: relative;
  margin: 0;
  padding: 10px 20px 26px 20px;
}
#b-mobile-nav-close {
  display: none;
  position: absolute;
  top: 19px;
  right: 0;
  cursor: pointer;
  z-index: 111;

  span {
    display: block;
    margin: 0;
    padding: 11px 3px 11px 9px;
    font-size: 24px;
    line-height: 24px;
    color: $c-primary;
    background: #fff;
    cursor: pointer;
    -webkit-border-radius: 8px 0 0 8px;
    border-radius: 8px 0 0 8px;
    @include transition(color 0.15s linear);
  }
  &:hover span {
    color: $c-secondary;
    text-decoration: none;
  }
}
.sidr-open #b-mobile-nav-close {
  display: block;
}


.mobile-nav h2 {
  display: none;
}

.site-logo--mobile-nav {
  float: none;
  margin: 20px 0 0 20px;
  padding: 14px 0 0 75px;

  img {
    width: 62px;
    height: auto;
  }

  .site-logo__title {
    font-size: 14px;
  }
  .site-logo__subtitle {
    font-size: 20px;
    letter-spacing: normal;
  }
}


/* -- Site Search -- */

.site-search-cont {
  position: relative;
  float: right;
  margin: 0;
  padding: 0 28px 0 0;

  input.form-search {
    display: inline-block;
    margin: 0;
    padding: 5px 8px 4px 8px;
    max-width: 159px;
    height: auto;
    font-size: 14px;
    color: $c-body;
    border: 1px solid #dfdfdf;
    background: #fff;
    @include border-radius(6px);
  }
  input.form-submit {
    position: absolute;
    top: 6px;
    right: 0;
    display: block;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    border: none;
    background: url(../gfx/icons/search_submit.svg) 0 0 no-repeat;
    background-size: 18px 18px;
    @include transition(opacity 0.15s linear);
    @include button-hide-text();
    @include border-radius(0);

    &:hover {
      background-color: transparent;
      opacity: 0.6;
    }
  }
}

/* -- Language Switcher -- */

.language-switcher-cont {
  float: right;
  margin: 0 20px 0 20px;
  padding: 5px 0 0 0;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      margin: 0;
      padding: 0;
      background: none;

      a {
        display: block;
      }
    }
  }
}

.language-switcher-current {
  display: inline-block;
  margin: 0;
  padding: 0;
  min-width: 85px;
  text-align: left;
  vertical-align: top;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: none;
      float: none;
      margin: 0;
      padding: 0;
      background: none;
    }
    li.is-active {
      display: block;
    }
  }

  a {
    display: block;
    margin: 0;
    padding: 2px 23px 2px 8px;
    color: #fff;
    text-decoration: none;
    background: #333 url(../gfx/icons/arrow_down_white.svg) 91% 7px no-repeat;
    background-size: 12px 10px;
    @include transition(background-color 0.15s linear);
    @include border-radius(5px);
  }
}
.dropdown-hover .language-switcher-current a {
  background-color: #4f4f4f;
}

.language-switcher-dropdown {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  width: 100%;
  border-top: 1px solid #b7b5b0;
  z-index: 3;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      margin: 0;
      padding: 0;
      background: none;

      a {
        display: block;
        margin: 0;
        padding: 6px 7px;
        color: $c-primary;
        text-decoration: none;
        background: #fff;
        border-left: 1px solid #b7b5b0;
        border-right: 1px solid #b7b5b0;
        border-bottom: 1px solid #b7b5b0;

        &:hover {
          color: $c-primary;
          text-decoration: none;
          background: #efefef;
        }
      }
    }
  }
}

/**
 * Site Body
 */

#site-body-container {
  clear: both;
  margin: 0 0 40px 0;
  padding: 0;
}

/**
 * Page
 */

.page-title-header {
  clear: both;
  margin: 0 0 30px 0;
  padding: 60px 0 23px 0;
  background: $c-primary;

  .page-title {
    margin: 0;
    padding: 0;
    color: #fff;
  }
}

/**
 * Page Sidebar
 */

.page-sidebar {
  h2 {
    margin: 0 0 10px 0;
    padding: 0 0 7px 0;
    border-bottom: 1px solid #d9d9d9;
  }

  .block {
    margin: 0 0 30px 0;
  }
}

/* -- Sidebar Navigation -- */

.page-sidebar {

  ul.menu {
    margin: 0 0 20px 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
      border-bottom: 1px solid #e0e0e0;

      /* -- 2nd Level -- */
      ul {
        display: block;
        margin: 0;
        padding: 0;
        border-top: 1px solid #e0e0e0;
      }
      li {
        border-bottom: 1px dotted #999;

        a {
          padding: 7px 27px 5px 20px;
          font-size: 13px;
        }
        a.is-active {
          color: $c-secondary;
          background: url(../gfx/icons/side_nav_active_arrow.svg) 98% 10px no-repeat;
          background-size: 6px 11px;
        }
      }
      li.menu-item--active-trail > a.is-active {
        color: $c-secondary;
        background: url(../gfx/icons/side_nav_active_arrow.svg) 98% 10px no-repeat;
      }
      /* -- / 2nd Level -- */
    }
    li.menu-item--expanded {
      border-bottom: none;
    }
    a {
      display: block;
      margin: 0;
      padding: 17px 26px 5px 0;
      font-size: 16px;
      color: $c-primary;
      text-decoration: none;
      font-weight: bold;
      vertical-align: top;
      outline: none;

      &:hover {
        color: $c-secondary;
        text-decoration: none;
      }
    }
    li.menu-item--expanded > a {
      color: $c-secondary;
      background: url(../gfx/icons/side_nav_expanded_arrow.svg) 98% 22px no-repeat;
    }
    a.is-active,
    li.menu-item--expanded > a.is-active {
      color: $c-secondary;
      background: url(../gfx/icons/side_nav_active_arrow.svg) 98% 22px no-repeat;
      background-size: 6px 11px;
    }
  }
}

/**
 * Site Footer
 */

.site-footer {
  clear: both;
  margin: 0;
  padding: 26px 0 28px 0;
  border-top: 1px solid #dfdfdf;
  background: #efefef;
}

.site-footer-top {
  margin: 0 0 32px 0;
  padding: 0 0 24px 0;
  border-bottom: 1px solid #ccc;

  .site-live-chat {
    float: left;
  }
  .cta-contact-us {
    float: left;
  }
}

.site-footer-content {
  clear: both;
  margin: 0 0 28px 0;
  padding: 0 0 30px 0;
  border-bottom: 1px solid #ccc;
}

/* -- Site Footer Nav -- */

.site-footer-nav {
  text-align: left;

  ul.menu {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: top;

    li {
      float: left;
      display: block;
      margin: 0;
      padding: 0;
      width: 25%;
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
      vertical-align: top;

      ul {
        display: block;
        margin: 0;
        padding: 11px 0 0 18px;

        li {
          float: none;
          margin: 0 0 3px 0;
          padding: 0;
          width: auto;
          font-size: 15px;
          font-weight: normal;
          text-transform: none;
        }
      }
    }

    a {
      display: inline-block;
      color: $c-primary;
      text-decoration: none;
      vertical-align: top;

      &:hover {
        color: $c-secondary;
      }
    }
  }
}

.footer-bottom-nav {
  clear: both;
  margin: 0 0 20px 0;
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      float: left;
      margin: 0;
      padding: 0;
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
      background: none;
    }

    a {
      color: $c-primary;
      text-decoration: none;

      &:hover {
        color: $c-secondary;
        text-decoration: none;
      }
    }
  }
}

.site-footer-copyright-container {
  p {
    margin: 0;
    padding: 0;
  }
}
.site-footer-copyright {
  margin: 0 0 7px 0;
  padding: 0;
  font-size: 14px;
  color: #666;

  a {
    color: $c-secondary;
    text-decoration: none;

    &:hover {
      color: $c-primary;
      text-decoration: none;
    }
  }
}
.region-footer-acro-link {
  font-size: 11px;
  color: #999;

  a {
    color: #999;
    text-decoration: none;

    &:hover {
      color: #666;
      text-decoration: none;
    }
  }
}

/* -- Social Media Nav -- */

.social-media-nav {
  clear: both;

  h4 {
    margin: 0 0 18px 0;
    padding: 0;
    font-size: 15px;
    color: $c-primary;
    font-weight: bold;
    text-transform: uppercase;
  }

  ul.menu {
    display: block;
    margin: 0 0 0 11px;
    padding: 0;
    list-style: none;
    vertical-align: top;

    li {
      float: left;
      display: block;
      margin: 0 0 10px 0;
      padding: 0;
      width: 50%;
    }

    a {
      position: relative;
      display: inline-block;
      margin: 0;
      padding: 4px 0 0 40px;
      min-height: 28px;
      font-size: 15px;
      color: $c-primary;
      font-weight: bold;
      text-decoration: none;

      i {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        margin: 0 11px 10px 0;
        padding: 0;
        width: 28px;
        height: 28px;
        background-size: 28px 28px;
        background-repeat: no-repeat;
        vertical-align: top;
        @include transition(opacity 0.15s linear);
      }

      &:hover {
        color: $c-secondary;

        i {
          opacity: 0.7;
        }
      }
    }

    .menu-item--facebook a i {
      background-image: url(../gfx/icons/facebook.svg);
    }
    .menu-item--google a i {
      background-image: url(../gfx/icons/google.svg);
    }
    .menu-item--twitter a i {
      background-image: url(../gfx/icons/twitter.svg);
    }
    .menu-item--instagram a i {
      background-image: url(../gfx/icons/instagram.svg);
    }
    .menu-item--youtube a i {
      background-image: url(../gfx/icons/youtube.svg);
    }
    .menu-item--pinterest a i {
      background-image: url(../gfx/icons/pinterest.svg);
    }
    .menu-item--linkedin a i {
      background-image: url(../gfx/icons/linkedin.svg);
    }


  }
}

/**
 * Tabs
 */

// Hide tabbable panes to start, show them when `.active`
.tab-content {
  clear: both;
  margin: 0;
  padding: 0;

  > .tab-pane {
    display: none;
    margin: 0;
    padding: 0 0 0 22px;
  }
  > .active {
    display: block;
  }
}


// Give the tabs something to sit on
.nav-tabs {
  margin: 0 0 36px 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #999;

  > li {
    float: left;
    // Make the list-items overlay the bottom border
    margin-bottom: -1px;
    outline: none;

    // Actual tabs (as links)
    > a {
      display: block;
      margin: 0 10px 0 0;
      padding: 7px 31px 5px;
      color: $c-primary;
      font-weight: bold;
      text-decoration: none;
      border: 1px solid #999;
      outline: none;
      background: #f7f7f7;
      -webkit-border-radius: 9px 9px 0 0;
      border-radius: 9px 9px 0 0;
      &:hover {
        color: #7d7d7d;
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $c-primary;
        background-color: #fff;
        border: 1px solid #999;
        border-bottom-color: transparent;
        cursor: default;
      }
    }
  }
  // pulling this in mainly for less shorthand
  &.nav-justified {
    // @extend .nav-justified;
    // @extend .nav-tabs-justified;
  }
}


/* -- Image Gallery -- */

.image-gallery {
  clear: both;
  margin: 0 0 30px 0;
  padding: 0;
}
.image-gallery__slider {
  position: relative;

  ul.slides {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: none;
      float: left;
      margin: 0;
      padding: 0;
      background: none;
    }
  }
}
.image-gallery__main-image-wrapper {
  position: relative;
}
.image-gallery__caption {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 13px 21px;
  width: 100%;
  color: #999;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;

  p {
    margin: 0;
    padding: 0;
  }
}
.image-gallery__main-image {
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.image-gallery-nav {

}
.image-gallery-nav__slider {
  position: relative;
  margin: 0 auto;
  padding: 0 78px;

  ul.slides {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: none;
      float: left;
      margin: 0;
      padding: 0;
      background: none;
    }
  }

  ul.flex-direction-nav {
    display: none !important;
  }
}
.image-gallery-nav__thumb {
  position: relative;
  margin: 0 10px 0 0;
  padding: 0;
  width: 90px;
  height: 60px;
  border: 3px solid #999;
  opacity: 0.5;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
  }
}
.flex-active-slide .image-gallery-nav__thumb {
  opacity: 1.0;
}


/* -- Accordion -- */

.base-accordion {
  clear: both;
  margin: 0 0 28px 0;
  padding: 0;
}
.base-accordion__item {
  clear: both;
}
.base-accordion__header,
.base-accordion__header:focus {
  display: block;
  margin: 0;
  padding: 12px 0;
  font-size: 18px;
  line-height: 18px;
  color: $c-secondary;
  border-bottom: 1px solid #cdcdcd;
  text-decoration: none;
  outline: none;
}
.base-accordion__header:hover {
  color: $c-primary;
}
.active .base-accordion__header {
  color: $c-primary;
}
.base-accordion__content {
  display: none;
  margin: 0;
  padding: 12px 0 9px 30px;

  p:last-child {
    margin: 0;
    padding: 0;
  }
}

