/**
 * Header Styles
 */

.header {
  background: $gray-darker;

  //Mobile Search Bar
  #header-search {
    .form-optional {
      display: none;
    }

    input[type="search"] {
      float: left;
      width: calc(100% - 71px);
      height: auto;
      border-radius: 0;
      font-size: 15px;
    }

    input[type="submit"] {
      border-radius: 0;
      font-size: 15px;
    }
  }

  //Top
  .header__top {

    //Logo
    .header__top-logo {
      float: left;
      margin: 15px 0;
      padding: 0;

      img {
        display: block;
        width: 80px;
        height: 89px;
      }
    }

    //Top Search
    #show-search {
      float: right;
      padding: 15px;
      margin-right: 10px;
      color: #fff;
      cursor: pointer;

      &:hover, &:focus {
        color: $c-link-hover;
      }
    }

    //Top Navigation
    .header__top-navigation {
      float: right;

      @media(max-width: 767px) {
        .menu {
          margin: 0 0 0 0;
        }

        .menu > li > a {
          padding: 10px 10px;
          font-size: 20px;
        }

        //Contact Us and My Account Icons
        .menu__item--contact-us a,
        .menu__item--my-account a {
          visibility: hidden;
          word-spacing: -999px;
          letter-spacing: -999px;

          &:hover::before, &:focus::before {
            color: $c-link-hover;
          }
        }

        .menu__item--contact-us a::before,
        .menu__item--my-account a::before {
          font-family: FontAwesome;
          color: #fff;
          visibility: visible;
          word-spacing: normal;
          letter-spacing: normal;
        }

        .menu__item--contact-us a::before {
          content: "\f27a";
        }

        .menu__item--my-account a::before {
          content: "\f007";
        }

        .menu__item--logout {
          display: none;
        }
      }
    }
  }

  //Bottom
  .header__bottom {
    position: relative;
    background-color: $gray-base;

    //Main Navigation
    .header__bottom-navigation, .header__bottom-search {
      display: inline-block;
    }

    .header__bottom-navigation {
      .menu__dropdown {
        background-color: $gray-base;
      }

      @media(max-width:767px) {
        .menu {
          //offset the menu items padding
          margin: 0 -10px;
        }

        .menu > li > a {
          padding: 15px 10px;
          font-size: 15px;
        }
      }
    }

    //Search Bar
    .header__bottom-search {
      margin: 10px 0;

      @media(min-width: 768px) {
        float: right;
      }

      input {
        display: inline-block;
        width: auto;
        height: 34px;
        vertical-align: middle;
        font-size: 14px;
      }

      .form-optional {
        display: none;
      }
    }
  }
}
